*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.container{
    position: relative;
    width: 100%;
}
.navgation{
    position: fixed;
    width: 230px;
    height: 100%;
    background-color: #003147;
    transition: 0.5s;
    overflow: hidden;
}
.navgation.active {
    width: 60px;
}
.navgation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navgation ul li{
    position: relative;
    width: 100%;
    list-style: none;
}
.navgation ul li:hover{
    background-color: #03a9f4;
}
.navgation ul li:nth-child(1){
    margin-bottom: 20px;
}
.navgation ul li:nth-child(1):hover{
    background: transparent;
}
.navgation ul li a{
    position: relative;
    display:  block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.navgation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height:  60px;
    line-height: 60px;
    text-align: center;
}
.navgation ul li a .icon .bi{

    color: #fff;
    font-size:  24px;
}
.navgation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}
.main{
    position: absolute;
    width: calc(100% - 230px);
    left: 230px;
    min-height: 100vh;
    background: #f5f5f5;
    transition: 0.5s;
}
.main.active{
    width: calc(100% - 60px);
    left: 60px;
}
.main .topbar{
    width: 100%;
    background: #fff;
    height: 60px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toggle .bi {
    position: relative;
    width: 100px;
    height: 100px;
    /* background-color: red; */
    cursor: pointer;
    font-size: 30px;
    padding: 10px;
}
.toggle::before{
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    color: #111;
}

.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}
.search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 50px;
    outline: none;
    border: 1px solid rgb(0,0,0, 0.2);
}
.search label .bi{
    position: absolute;
    left: 15px;
    top: 0.9rem;
}
.user{
    position: relative;
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.user img{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}
.cardBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.cardBox .card{
    position: relative;
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.cardBox .card .numbers{
    position: relative;
    font-size: 2rem;
    font-weight: 500;
}
.cardBox .card .iconBox{
    font-size: 2.5rem;
    color: #03a9f4;
}
.details{
    position: relative;
    width: 100%;
    padding: 20px;
    padding-top: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 1fr;
}
.details .recentOrders{
    position: relative;
    display: grid;
    min-height: 430px;
    background-color: #fff;
    padding: 20px;
}
.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
 }
 .cardHeader h2{

    font-weight: 600;

 }
 .btn{
    position: relative;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    background-color: #03a9f4;
    border-radius: 6px;
 }
 .details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
 }
 .details table thead td{
    font-weight: 600;
 }
 .details .recentOrders table tr{
    border-bottom: 1px solid rgba(0,0,0, 0.1);
 }
 .details .recentOrders table tbody tr:hover{
    background: #03a9f4;
 }
 .details .recentOrders table thead tr:hover{
    background: transparent;
 }

.details .recentOrders table tbody tr:last-child {
    border-bottom: none;
}
.details .recentOrders table tbody tr td{
padding: 9px 5px;
}

.details .recentOrders table thead tr td:last-child,
.details .recentOrders table tbody tr td:last-child
{
    text-align: right;
}
.details .recentOrders table thead tr td:nth-child(2),
.details .recentOrders table tbody tr td:nth-child(2)
{
    text-align: right;
    padding-right: 20px;
}
.details .recentOrders table thead tr td:last-child(3),
.details .recentOrders table tbody tr td:last-child(3)
{
    text-align: center;
}
.status{
    position: relative;
    padding: 2px 4px;
    background: #f00;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}
.delivered{
    background: #8de02c;
}
.Pending{
    background-color: #f9ca3f;
}
.return{
    background-color: red;
}
.inprogress{
    background: #1795ce;
}

.details .recentCustomers{
    position: relative;
    display: grid;
    min-height: 530px;
    background: #fff;
    padding: 20px;
}
.details .recentCustomers .imgBox{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.details .recentCustomers .imgBox img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}
.details .recentCustomers table tr td h4 span{
    font-size: 14px;
    color: #999;
}
{
    color: #fff;
}

.details .recentCustomers table tr:hover td h4 span,
.details .recentCustomers table tr:hover{
    background: #03a9f4;
    color: #fff;
}
.details .recentCustomers table tr td{
    padding:  2px 2px;
}
.details .recentCustomers table tr td h4{
    font-size: 16px;
    font-weight: 500px;
    line-height: 1.2em;
}

@media (max-width: 992px){
    .navgation{
        left: -230px;
    }
    .navgation.active{
        left: 0;
        width: 230px;
    }
    .main{
        width: 100%;
        left: 0;
    }
    .main.active{
        width: calc(100% - 100px);
        left: 230px;
    }
    .cardBox{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 768px){
    .details{
        grid-template-columns: repeat(1, 1fr);
    }
    .cardHeader h2 {
        font-weight: 600px;
        font-size: 18px;
    }
}
